<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>

  <body>
     <h1>Please enter a text below to post on Facebook!</h1>
    <form method="POST" action = "/send">
      <div class = "form-group">
        <input type="text" name = "data">
      </div>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>

  </body>

</html>