<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="--------" crossorigin="anonymous">
  </head>

  <body>
     <h1>Enter Title and a Message below to post on Reddit!</h1>
    <form method="POST" action = "/postreddit">
      <div class = "form-group">
        <input type="text" name = "title">
        <input type="text" name = "message">
      </div>
      <input class="btn btn-primary" type="submit" value="submit">
    </form>
    
    

  </body>

</html>
